<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">  
<div class="container-fluid">
    <div class="background"></div>
    <div><div class="horizontal-line"></div></div>
    
    <section class="home">
        <div class="content">
            <div class="para1">
                <h1>WHY US?</h1>
                <p>Embarking on a mission to revolutionize the gig economy, Gigs Opportunity Analyzer is your beacon for unleashing the full potential of freelancers. 
                    Our commitment goes beyond streamlining the gig-finding process; it's about empowering freelancers to sculpt their own success stories in the dynamic digital landscape. 
                    Collaborating with Gigs Opportunity Analyzer is not just a project; it's a transformative journey. 
                    We blend innovation and dedication to craft a pathway for freelancers to thrive, redefining success in the ever-evolving freelance world. 
                    Join us in navigating success and crafting futures together.
                </p>
            </div>
            
            <div class="para2">
                <h1>WE ARE SMALL BY DESIGN</h1>
                <p>At Gigs Opportunity Analyzer, we redefine the standards of a typical tech project team. As co-founders, we personally oversee every aspect of our initiative, leveraging years of collective experience to bring a wealth of expertise to the forefront. 
                    Our focus is on creating a platform that not only streamlines gig searches but also delivers tangible and meaningful outcomes.
                    What sets us apart is our entrepreneurial spirit. Beyond the realm of developers, we are deeply immersed in the freelance world ourselves. 
                    This distinctive perspective allows us to empathize with and comprehend the challenges you encounter. 
                    If your goal is to make a significant impact in the freelance market, rest assured that Gigs Opportunity Analyzer is the right partner for you.
                    Our commitment goes beyond being a tech team; we are your allies in navigating the freelance landscape. 
                    We understand the intricacies and hurdles of this dynamic space, ensuring that our platform addresses your unique needs. 
                    By choosing Gigs Opportunity Analyzer, you align yourself with a team that is not only skilled but also deeply connected to the freelance community, ready to guide you toward impactful success in the gig economy.
                </p>
            </div>

            <div class="para3">
                <h1>OUR FOUNDING STORY</h1>
                <p>Gigs Opportunity Analyzer was born out of a collective frustration shared by the founders. 
                    As freelancers ourselves, we experienced the struggle of navigating through countless freelance platforms to find the right gig. 
                    This collective 'aha' moment sparked the idea of a tool that could streamline this process.
                    The journey began with a shared passion for technology and a deep understanding of the freelancing landscape, we embarked on the challenging but thrilling path of bringing Gigs Opportunity Analyzer to life.
                    The early days were marked by long nights of coding, debugging, and endless cups of coffee. 
                    Challenges were faced head-on from mastering web scraping techniques to fine-tuning the machine learning algorithm. 
                    The team navigated uncharted territories, learning and evolving with each hurdle.
                    The team's relentless dedication and commitment to understanding the freelancing community propelled us forward. Gigs Opportunity Analyzer is not just a tech project; it's a testament to the founders' journey through the challenges and triumphs of the freelance world. 
                    Today, it stands as a beacon for freelancers worldwide, offering a seamless path to lucrative opportunities in the ever-expanding gig economy.
                </p>
            </div>
        </div>

        <div class="wrapper">
            <div class="member01">
                <div class="card back-face">
                    <img src="assets/Member-01.png" alt="Member-01">
                    <div class="info">
                        <div class="title">Hajrah Asim</div>
                        <p>Head of Design <br> Front-end Developer</p>
                    </div>
                    <ul>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </ul>
                </div>
            </div>
            
            <div class="member02">
                <div class="card back-face">
                    <img src="assets/Member-02.png" alt="Member-01">
                    <div class="info">
                        <div class="title">Hamza Aamir Fakhruddin</div>
                        <p>Head of Strategy <br> Back-end Developer</p>
                    </div>
                    <ul>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </ul>
                </div>
            </div>

            <div class="member03">
                <div class="card back-face">
                    <img src="assets/Member-03.png" alt="Member-01">
                    <div class="info">
                        <div class="title">Mirza Samiullah Baig</div>
                        <p>Head of Testing <br> Tester</p>
                    </div>
                    <ul>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </ul>
                </div>
            </div>            
        </div>

        <hr  style="color: white; height: 50px; width: 90%; margin-left: 80px;">
        <div class="footer">
            <img class="footer-logo" src="assets/Logo-Foot.png">
            <div class="footer-menu">
                <ul>
                    <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a class="nav-link" routerLink="/about" routerLinkActive="active">AboutUs</a></li>
                    <li><a class="nav-link" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
                </ul>
            </div>
            
            <div class="footer-icons">
                <ul>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </ul>
            </div>
            
            <div class="footer-menu-2">
                <img src="assets/copyright.png" style="margin-left: -250px;"><a href="#"> Copyright 2024 by HH. All rights reserved</a>
            </div>

            <button class="scroll-to-top-button" (click)="scrollToTop()"><img src="assets/top.png" width="50%"></button>
        </div>
    </section>
</div> 