<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container-fluid">
    <div class="background"></div>
    <div><div class="horizontal-line"></div></div>
    
    <section class="home">
        <div class="content">
            <h1>Scalable, Affordable Pricing</h1>
            <p>A scalable, affordable pricing model is vital for businesses and users, ensuring costs align with value and adapt to changing needs. 
                It accommodates fluctuations in demand, allowing flexible adjustments for increased usage or additional features. 
                This adaptability is crucial in dynamic environments, enabling businesses to scale without excessive costs. 
                Moreover, an affordable approach fosters inclusivity, making services accessible to a diverse user base. 
                From startups to enterprises, this combination of scalability and affordability creates a sustainable pricing strategy, promoting long-term satisfaction and business growth.
            </p>
        </div>

        <div class="content-2">
            <p><b>Start for free or join the club to get access to all perks. Choose Annual Plan to get 20% discount</b></p>

            <div class="rectangle-1">
                <div class="">
                    
                    <div class="V-line" style="margin-left: 250px; margin-top: -20px"></div>
                    <p style="margin-left: -50px; margin-top: -130px; text-align: center;">1 search per day <br> Output includes only link of one freelance platform</p>
                    <div class="V-line" style="margin-left: 700px; margin-top: -130px"></div>
                    <p style="margin-left: 830px; margin-top: -120px;">$0</p>
                </div>
            </div>

            <div class="rectangle-2">
                <div class="">
                    <p>Trio</p>
                    <div class="V-line" style="margin-left: 250px; margin-top: -5px"></div>
                    <p style="margin-left: -50px; margin-top: -130px; text-align: center;">3 searches <br> Output includes the exact gig details and <br> link of specific freelance platform</p>
                    <div class="V-line" style="margin-left: 700px; margin-top: -170px"></div>
                    <p>$10</p>
                </div>
            </div>

            <div class="rectangle-3">
                <div class="">
                    <p>Deca</p>
                    <div class="V-line" style="margin-left: 250px; margin-top: -5px"></div>
                    <p>10 searches <br> Output includes the exact gig details and link of specific freelance platform</p>
                    <div class="V-line" style="margin-left: 700px; margin-top: -240px"></div>
                    <p>$25</p>
                </div>
            </div>
        </div>

        <hr>
        <div class="footer">
            <img class="footer-logo" src="assets/Logo-Foot.png">
            <div class="footer-menu">
                <ul>
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">AboutUs</a>
                    <a class="nav-link" routerLink="/buy-products" routerLinkActive="active">Pricing</a>
                </ul>
            </div>
            <div class="footer-icons">
                <ul>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </ul>
            </div>
            
            <div class="footer-menu-2">
                <a href="#">Terms & Condition</a>
                <a href="#">Privacy</a>
            </div>
        </div>
    </section>
  </div> 
