<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container-fluid">
    <div class="background"></div>
    <div><div class="horizontal-line"></div></div>
    
    <section class="home">
        <div class="content">
            <h1>Scalable, Affordable Pricing</h1>
            <img src="assets/affordable.png" style="margin-left: 900px; margin-top: -200px;">
            <p>A scalable, affordable pricing model is vital for businesses and users, ensuring costs align with value and adapt to changing needs. 
                It accommodates fluctuations in demand, allowing flexible adjustments for increased usage or additional features. 
                This adaptability is crucial in dynamic environments, enabling businesses to scale without excessive costs. 
                Moreover, an affordable approach fosters inclusivity, making services accessible to a diverse user base. 
                From startups to enterprises, this combination of scalability and affordability creates a sustainable pricing strategy, promoting long-term satisfaction and business growth.
            </p>
        </div>

        <div class="content-2">
            <p><b>Start for free or join the club to get access to all perks. Choose Annual Plan to get 20% discount</b></p>

            <div class="card">
                <div class="card-content">
                  <span class="text-left">Free</span>
                  <span class="text-center">1 time search <br> <b>Output includes:</b> <br> Link of specific freelance platform</span>
                  <span class="text-right">$0</span>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <span class="text-left">Trio</span>
                  <span class="text-center">3 time search <br> <b>Output includes:</b> <br> Link of specific gig</span>
                  <span class="text-right">$10</span>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                  <span class="text-left">Deca</span>
                  <span class="text-center">10 time search <br> <b>Output includes:</b> <br> Link and details of gig</span>
                  <span class="text-right">$90</span>
                </div>
            </div>
        </div>


        <div class="faq">
            <h1>Frequently Asked Questions</h1>
            <div class="faq-item" *ngFor="let faq of faqs">
              <div class="faq-question" (click)="toggleAnswer(faq)">
                {{ faq.question }}
                <span>{{ faq.showAnswer ? '▲' : '▼' }}</span>
              </div>
              <div class="faq-answer" *ngIf="faq.showAnswer">
                {{ faq.answer }}
              </div>
            </div>
        </div>

        <div class="card-bottom">
            <div class="card-content1">
              <p class="text" style="margin-left: 0px; font-size: 35px; margin-top: 30px;">Start searching gigs with <br> Gig Opportunity Analyzer</p>
              <p class="text" style="margin-left: 10px;">Where technology meets opportunity</p>
            </div>
            <button class="my-button" [routerLink]="['/register']">Get Started</button>
        </div>

        <hr style="color: #fff; height: 30px; width: 90%; text-align:left; margin-left: 50px;">
        <div class="footer">
      
            <img class="footer-logo" src="assets/Logo-Foot.png">
            <div class="footer-menu">
                <ul class="menu-list" style="margin-left: -75px;">
                    <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a class="nav-link" routerLink="/about" routerLinkActive="active">AboutUs</a></li>
                    <li><a class="nav-link" routerLink="/pagenotfound" routerLinkActive="active">Pricing</a></li>
                </ul>
            </div>
      
            <div class="footer-icons">
                <ul>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </ul>
            </div>
      
            <div class="footer-menu-2">
                <img src="assets/copyright.png" style="margin-left: -250px;"><a href="#"> Copyright 2024 by HH. All rights reserved</a>
            </div>
        </div>

        <button class="scroll-to-top-button" (click)="scrollToTop()"><img src="assets/top.png" width="50%"></button>
    </section>
  </div> 
