<div class="page-area">
    <div class="text-center">
        <h1>Buy Products</h1>
    </div>
    <div class="alert alert-light border d-flex align-items-center" *ngIf="addedProduct">
        <strong class="text-success">{{addedProduct}}</strong> &nbsp;is Selected & Added in Cart!
        <button class="btn btn-success ml-auto">Checkout</button>
    </div>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="assets/laptop.jpeg" class="card-img-top" alt="laptop img">
                <div class="card-body">
                    <h5 class="card-title">LAPTOP</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('Laptop')">Select this Product</button>
                </div>
            </div>

            <div class="card">
                <img src="assets/mobile.jpg" class="card-img-top" alt="mobile img">
                <div class="card-body">
                    <h5 class="card-title">MOBILE</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('Mobile')">Select this Product</button>
                </div>
            </div>

            <div class="card">
                <img src="assets/television.jpeg" class="card-img-top" alt="televsision img">
                <div class="card-body">
                    <h5 class="card-title">TELEVISION</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('Television')">Select this Product</button>
                </div>
            </div>

            <div class="card">
                <img src="assets/washing machine.jpeg" class="card-img-top" alt="washing machine img">
                <div class="card-body">
                    <h5 class="card-title">WASHING MACHINE</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('Washing Machine')">Select this Product</button>
                </div>
            </div>
        </div>

        <!-- <app-child [placeholderText]="myText"></app-child> -->
        <app-child 
        [productSelected] ="proSelected" 
        [selectedProduct] ="selProduct"
        (addedProduct) = "onAddedProduct($event)"
        ></app-child>

        
    </div>
</div>


