<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-myContainer></app-myContainer> -->
<!-- <app-data-bind></app-data-bind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->


<ngx-ui-loader fgsColor="#FFFFFF" pbColor="#FFFFFF" text="LOADING GOODS FOR YOU" [hasProgressBar]= "true"></ngx-ui-loader>
<div ngxUiLoaderBlurred (blur)= "50">
    <header>
        <a routerLink="/home" class="brand"><img src="assets/Logo-Head.png" alt="Logo" class="hlogo"></a>
        <nav class="navigation">
          <div class="navigation-items">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><b>Home</b></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"><b>About Us</b></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/pricing" routerLinkActive="active"><b>Pricing</b></a></li>
      
              <ng-container *ngIf="!isLoggedIn; else loggedInNav">
                <li class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active"><b>Start a free trial</b></a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active"><b>Login</b></a></li>
              </ng-container>
      
              <ng-template #loggedInNav>
                <li class="nav-item"><a class="nav-link" routerLink="/profile" routerLinkActive="active"><b>Profile</b></a></li>
                <li class="nav-item"><a class="nav-link" (click)="logout()"><b>Logout</b></a></li>
              </ng-template>
            </ul>
          </div>
        </nav>
      </header>
    <router-outlet></router-outlet>
</div>

