<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container-fluid">
  <div class="background"></div>
  <div><div class="horizontal-line"></div></div>
    
  <section class="home">  
    
    <div class="content">
      <h1>WHERE TECHNOLOGY MEETS OPPORTUNITY</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="service-link" routerLink="/services" routerLinkActive="active"><b>Discover Services</b></a>
    </div>
  
    <div class="media-icons">
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </section>
</div> 