<section>
    <div class="form-box2">
      <div class="form-value2">
          <form (ngSubmit) = "onSubmit(myForm)" #myForm = "ngForm">
            <img src="assets/Logo-Foot.png" alt="Logo" width="200px" style="margin-left: 45px; margin-top: -200px;">

              <h2>Register</h2>

              <div class="inputbox2" style="margin-top: 20px;">
                  <input type="text" class="form-control" id="name" name="fullname" required [(ngModel)] = "username" placeholder=" Enter Fullname">
                  <!-- <label for="name">Full Name</label> -->
                  <img src="assets/fullname.png" alt="uimage" style="width: 20px;">
                  <!-- <small *ngIf="username">Username is {{username}}</small> -->
              </div>

              <div class="inputbox2">
                  <input type="date" class="form-control" id="age" name="age" max="2005-01-01" style="margin-left: 25px;" required ngModel>
                  <!-- <label for="age">DOB</label> -->
              </div>

              <div class="inputbox2">
                  <input type="text" class="form-control" id="cn" name="cn" required ngModel placeholder="Enter Contact Number">
                  <!-- <label for="contact">Contact No.</label> -->
                  <img src="assets/phone.png" alt="cimage" style="width: 20px;">
              </div>

              <div class="inputbox2">    
                  <input type="email" class="form-control" id="email" name="email" required ngModel email #email="ngModel" placeholder="Enter Email">
                  <!-- <label for="mail">Email</label> -->
                  <img src="assets/email.png" alt="eimage" style="width: 20px;">
                  <!-- <small class="text-danger" *ngIf = "!email.valid && email.touched">Please Enter Valid Email</small> -->
              </div>

              <div class="inputbox3" style="margin-top: 15px;" >
                  <label for="country" style="color: #fff;">Country</label>
                  <select id="country" class="form-control" name="country" 
                    style="margin-left: 90px; margin-top: -25px; width: 200px; background: transparent; border: 2px solid rgba(255,255,255,0.8); color: #636c72; background-color: transparent;" 
                    required [ngModel] = "defaultCountry"
                  >
                      <option value="AFG">Afghanistan</option>
                      <option value="BAH">Bahrain</option>
                      <option value="BANG">Bangladesh</option>
                      <option value="COL">Colombia</option>
                      <option value="COR">Croatia</option>
                      <option value="DEN">Denmark</option>
                      <option value="EUC">Ecuador</option>
                      <option value="FN">Finland</option>
                      <option value="GER">Germany</option>
                      <option value="HAW">Hawaii</option>
                      <option value="IND">Indonesia</option>
                      <option value="JAP">Japan</option>
                      <option value="KUW">Kuwait</option>
                      <option value="LEB">Lebanon</option>
                      <option value="MAD">Madagascar</option>
                      <option value="NEP">Nepal</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="QTR">Qatar</option>
                      <option value="RUS">Russia</option>
                      <option value="SIG">Singapore</option>
                      <option value="TUR">Turkey</option>
                      <option value="UKR">Ukraine</option>
                      <option value="VIE">Vietnam</option>
                      <option value="YEM">Yemen</option>
                      <option value="ZIM">Zimbabwe</option>
                  </select>
              </div>

              <div class="form-group" style="margin-top: 15px;">
                <div class="custom-control custom-radio" *ngFor = "let gender of genders">
                    <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" required [ngModel] = "defaultGender">
                    <label class="custom-control-input"  for="{{gender.id}}" style="margin-top: -50px; color: white;">{{gender.value}}</label>
                </div>
              </div>

              <div ngModelGroup = "userdetails" #userdetails = "ngModelGroup" >
                    <div class="inputbox2">
                        <input type="text" class="form-control" id="username" name="username" required ngModel placeholder="Enter Username">
                        <!-- <label for="uname">Username</label> -->
                        <img src="assets/username.png" alt="uimage" style="width: 20px;">
                    </div>
                    
                    <div class="inputbox2">
                        <input type="password" class="form-control" id="password" name="password" required ngModel placeholder="Enter Password">
                        <!-- <label for="pass">Password</label> -->
                        <img src="assets/password.png" alt="pimage" style="width: 20px;">
                    </div>
                </div>
              
              <div class="inputbox2">
                  <input type="text" class="form-control" id="lp" name="lp" required ngModel placeholder="Enter LinkedIn Link">
                  <!-- <label for="lp">Linkedin Profile</label> -->
                  <img src="assets/linkedin.png" alt="lpimage" style="width: 20px;">
              </div>
              
              <button type="submit">Register</button> 
              <!-- (click)= "msgAlert()" -->

              <div class="signin">
                  <p style="margin-left: -60px;">Already have an account <a class="nav-link" routerLink="/login" routerLinkActive="active" style="color: white; margin-top: -22px; margin-left: 232px;">Signin</a></p>
              </div>
              <div *ngIf="showSuccessMessage" class="success-message" style="color: #fff;">{{ successMessage }}</div>
          </form>
      </div>
    </div>
</section>